# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment
client/.env
server/.env

# Build
client/dist/
server/dist/

# Prisma
server/prisma/dev.db
server/prisma/*.db

# Logs
*.log
npm-debug.log*

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db